{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}Register - SafeSwap{% endblock %}

{% block content %}
<div class="register-container content-fade">
    <h1 class="form-title">Create a New Account</h1>

    <form method="post" class="register-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn primary-btn">Register</button>
    </form>

    <p class="form-subtext">
        Already have an account?
        <a href="{% url 'users:login' %}" class="link-inline">Login here</a>
    </p>
</div>
{% endblock %}
