{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}Top Up Balance{% endblock %}

{% block content %}
<div class="full-page-center">
    <div class="top-up-container">
        <h2 class="topup-header">{{ welcome_message }}</h2>
        <p class="topup-subtext">Your current balance is: <span class="topup-balance">${{ user_balance }}</span></p>

        <form method="post" class="topup-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn primary-btn">Top Up Now</button>
        </form>
    </div>
</div>
{% endblock %}
