{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}User Dashboard{% endblock %}

{% block content %}
<div class="dashboard-container content-fade">
    <h2 class="welcome-text">Welcome, {{ request.user.first_name }}</h2>

    <div class="balance-card">
        <h3>Current Balance</h3>
        <p class="balance-amount" data-balance="{{ balance }}">${{ balance }}</p>
        <div class="button-group">
            <a href="{% url 'users:top_up' %}" class="btn primary-btn">Top Up</a>
            <a href="{% url 'chipin:home' %}" class="btn">Transaction Portal</a>
            <a href="{% url 'users:delete' %}" class="btn danger-btn">Delete Account</a>
        </div>
    </div>

    <div class="transaction-history">
        <a href="{% url 'chipin:transaction_history' %}" class="btn secondary-btn">View Full Transaction History</a>
    </div>
</div>
{% endblock %}
