{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}User Management{% endblock %}

{% block content %}
    <h2>Welcome {{ request.user.first_name }}</h2>
    <p>This page is for user management functions.</p>

    <h1>Current Balance: ${{ balance }}</h1>
    <a href="{% url 'users:top_up' %}">Top Up Balance</a>
    <a href="{% url 'chipin:home' %}">Click through to ChipIn Functions</a>
    <a href="{% url 'users:delete' %}">Delete Account</a>

        <h2>Transactions</h2>
    <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px; width: fit-content;">
        <table style="border-collapse: collapse; width: auto;">
            <thead>
                <tr>
                    <th style="text-align: left; padding: 8px 16px; border-bottom: 2px solid #ddd;">Date</th>
                    <th style="text-align: left; padding: 8px 16px; border-bottom: 2px solid #ddd;">Amount</th>
                    <th style="text-align: left; padding: 8px 16px; border-bottom: 2px solid #ddd;">Group</th>
                    <th style="text-align: left; padding: 8px 16px; border-bottom: 2px solid #ddd;">Event</th>
                </tr>
            </thead>
            <tbody>
                {% if transactions %}
                    {% for transaction in transactions %}
                        <tr>
                            <td style="padding: 8px 16px;">{{ transaction.created_at|date:"d-m-Y H:i" }}</td>
                            <td style="padding: 8px 16px; color: {% if transaction.amount > 0 %}green{% else %}red{% endif %};">
                                ${{ transaction.amount|floatformat:2 }}
                            </td>
                            <td style="padding: 8px 16px;">{{ transaction.group }}</td>
                            <td style="padding: 8px 16px;">{{ transaction.event }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="2" style="text-align: center; padding: 8px;">No transactions to display.</td>
                    </tr>
                {% endif %}
            </tbody>            
        </table>
    </div>

{% endblock %}