{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}Payment Portal{% endblock %}

{% block content %}
<div class="home-container content-fade">
    <h1 class="form-title">Payment Portal</h1>

    <section class="section-block">
        <h2>Transaction Invitations</h2>
        <div class="invitation-notification">
            {% if pending_invitations %}
                <ul class="invitation-list">
                    {% for group in pending_invitations %}
                        <li>
                            You’ve been invited to join <strong>{{ group.name }}</strong>.
                            <a href="{% url 'chipin:accept_invite' group.id %}?user_id={{ request.user.id }}" class="btn btn-success">Accept</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No pending invitations.</p>
            {% endif %}
        </div>
    </section>

    <section class="section-block">
        <h2>Your Transactions</h2>
        {% if user.group_memberships.all %}
            <ul class="transaction-list">
                {% for group in user.group_memberships.all %}
                    <li>
                        <a href="{% url 'chipin:group_detail' group.id %}" class="group-name">{{ group.name }}</a>
                        
                        {% if group.admin == request.user %}
                            <form action="{% url 'chipin:delete_group' group.id %}" method="post" style="display:inline;" onsubmit="return confirm('Are you sure you want to delete this group?');">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        {% else %}
                            <a href="{% url 'chipin:leave_group' group.id %}" class="btn btn-warning" onclick="return confirm('Are you sure you want to leave this group?');">Leave</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You are not a member of any transactions yet.</p>
        {% endif %}
        <div class="create-new-group">
            <a href="{% url 'chipin:create_group' %}" class="btn primary-btn">Create a New Transaction</a>
        </div>
    </section>
</div>
{% endblock %}
