{% extends 'chipin/base.html' %}
{% load static %}
{% block title %}Invite Users to {{ group.name }}{% endblock %}

{% block content %}
<div class="invite-users-container content-fade">
    <h1 class="form-title">Invite Users to {{ group.name }}</h1>

    <form method="post" class="invite-users-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="user_id">Select a User:</label>
            <select name="user_id" id="user_id" required>
                <option value="">Select a user</option>
                {% for user in users_not_in_group %}
                    <option value="{{ user.id }}">{{ user.profile.nickname }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn primary-btn">Send Invitation</button>
    </form>
</div>
{% endblock %}
